# Introduccion a Jupyter Notebook

## Primeros comandos

En estas lineas de codigo introduciremos los primeros conceptos, elementos, 
formas de trabajo, etc. Es decir todo lo propiamente necesario para comenzar
a programar en Jupyter Notebook.

## Temario 

1. Tipografía LaTeX
2. Tipo de Variables
    - String
    - Numericas
    - Booleanas
3. Operadores
    - Algebraicos
    - Logicos
4. Primeras funciones

# Tipografía de LaTeX en Jupyter Notebook

Para escribir textos que tenga simbolos matemáticos, Jupyter se apoya de la 
sintaxis que utiliza LaTeX, apoyandose del uso del simbolo $.
A continuacion se muestran algunos ejemplos:
    
Esta es una formula:
    $x+y=2$

Subindices:
    $x_i+y_i=1$

Superindices:
    $x^i+y^i=1$
    
Las llaves indican que el texto contenido dentreo de ellas se aplicara a
lo que queremos utilizar:
    $e^{x_1+y_2}+1$
    
El simbolo **"&"** sirve para separar columnas y el simbolo **"\\\\"** 
sirve para separar filas

La utilidad de hacer uso del lenguaje R es las bastas posibilidades de poder
darle una mejor presentacion a las formulas o estructuras matemáticas que en
otros software no sería posible, o se dificultaría mucho.

Ejemplo de una Matriz:
    $\left[
      \begin{matrix} 
      a & b & c & x \\
      d & e & f & y \\
      1 & 2 & 3 & 4 \\
      M & A & C & I
      \end{matrix} 
      \right]$
    
    Ejemplo de una integral:
    
$F_3(x)=\int_{1/2}^{x}\!8(1-t) \,dt=8(x- \frac{x^{2}}{2} - \frac{3}{8}) \quad 1/2<x<1$

In [11]:
!! pip install pandas
!! pip install numpy

['Requirement already satisfied: numpy in c:\\users\\lenovo\\anaconda3\\lib\\site-packages (1.20.3)']

In [13]:
import pandas as pd
import numpy as np

# Tipo de Variables

## Variables String

In [15]:
x='Hola Mundo'

## Uso de la funcion 'type' la cual indica el tipo de dato de una variable

tipo_x=type(x)
print(tipo_x)
print('Texto')

<class 'str'>
Texto

In [16]:
#Para gregar variables dentro dl texto de un comando rpint usamos llaves en
#la posicion donde queremos que aparezca la variable y terminando el texto
#agregamos la funcion .format(variable)


print('Tipo de dato de la variable x: {}'.format(tipo_x))

Tipo de dato de la variable x: <class 'str'>

In [17]:
#Concatenar variables de texto
#Las variables de texto se concatenana con el simbolo '+'

saludo='Hola'+' '+'¿Como estas?'

print(saludo)

Hola ¿Como estas?

In [23]:
#Longitud de una variable de texto (len)

longitud_x = len(x)

print('La longitud de la variable x es: {}'.format(longitud_x))

La longitud de la variable x es: 10

In [30]:
## Subtexto

# En Python las cadenas de texto comienzan en la posicion 0, una variable 
# de texto es similar a una cadena de simbolos por lo que

#  "H-o-l-a- -M-u-n-d-o"
#   0-1-2-3-4-5-6-7-8-9

# Para extraer una subcadena se usan los corchetes y la posicion del subtexto:
# - cadena[j] Extraer la posición j de la cadena
# - cadena[j:l] Extraer el texto desde la posición j hasta la posición l-1

#Este dato es importante mencionarlo puesto que en otros lenguajes de programacion
#se inicia en la posicon 1, un ejemplo de ello es R.
x='Hola'
y='¿Como estas?'
saludo=x+' '+y
v1=saludo[0:4]
v2=saludo[5:17]
print(v1)
print(v2)

Hola
¿Como estas?

In [32]:
# Para encontrar la posicion de una palabra usamos la funcion 'find()'

#Buscamos una subcadema
texto='Mi comida favorita son las enchiladas'

#Buscamos una palabra y la extraemos
palabra=texto.find('enchiladas')

print('La palabra enchiladas comienza en la posicion: {}'.format(palabra))

#Ahora podemos extrerla de una forma manual
texto[27:(27+len('enchiladas'))]

La palabra enchiladas comienza en la posicion: 27

'enchiladas'

In [41]:
#Si se llegara a dar el caso en que la palabra buscada no se encuentra
#dentro del texto, nos regresaria el valor -1

texto='Mi serie favorita es Breaking Bad'

texto.find('blinder')

-1

In [40]:
# Primera aparicion de la letra "a"

print(texto.find('a',0))

#Segunda aparicion de la letra a
pos=texto.find('a',0)
print(texto.find('a',pos+1))

8
11

In [52]:
#Un ejemplo mas:

a= "Mi partido de basquetbol se juega el dia Martes en un horario de 10am a 11am"
# Fecha
var_bus= 'dia '
inicio= a.find(var_bus) + len(var_bus)
fin= inicio + 7
print(a[inicio:fin])
# Hora
var_bus= 'horario de '
inicio= a.find(var_bus) + len(var_bus)
fin= inicio + 14
print(a[inicio:fin])

Martes
10am a 11am

In [58]:
#Reemplazar texto con la funcion replace()

a2=a.replace('Martes','Jueves')
print(a2)

a3=a2.replace('10','8')
a3=a3.replace('11','9')
print(a3)

#Inclusive se puede utilizar para reemplazar la totalidad de letras o palabras
#de todoeltexto
a4=a3.replace('i','x')
print(a4)

Mi partido de basquetbol se juega el dia Jueves en un horario de 10am a 11am
Mi partido de basquetbol se juega el dia Jueves en un horario de 8am a 9am
Mx partxdo de basquetbol se juega el dxa Jueves en un horarxo de 8am a 9am

## Ejercicio Interesante

Eliminar el exceso de espacios en blanco de la siguiente cadena de texto, de tal forma que se pueda leer como un enunciado normal

In [63]:
cadena= 'saliendo   del    curso       voy a      ir     por   unas  galletas'

##Solucion
cadena.replace(' ','<>').replace('><','').replace('<>',' ')

'saliendo del curso voy a ir por unas galletas'

In [66]:
# Evaluar si una variable inicia con un nombre en especifico

v='Me gusta la programacion'

v2=v.startswith('Me')
v3=v.startswith('Las')

print(' La variable comienza con Me : {}'.format(v2))
print(' La variable comienza con Me : {}'.format(v3))

 La variable comienza con Me : True
 La variable comienza con Me : False

# Variables Numéricas

Hay dos tipos de variables numericas:

1.Enteros: Se denominan con la palabra **int** estos no pueden ser decimales
    
2.Reales: Se denominan con la palabra **float** estos pueden ser decimales

In [68]:
x=5
y=3.1416

print('El tipo de dato de la variable x es : {}'.format(type(x)))
print('El tipo de dato de la variable x es : {}'.format(type(y)))

El tipo de dato de la variable x es : <class 'int'>
El tipo de dato de la variable x es : <class 'float'>

## Operaciones Algebracias

In [69]:
z1=x+y
z2=x-y
z3=x*y
z4=x/y

#Formato de impresion con salto de linea

print('Suma: {}\nResta: {}\nMultiplicación: {}\nDivisión: {}'.format(z1,z2,z3,z4))

Suma: 8.1416
Resta: 1.8584
Multiplicación: 15.708
División: 1.591545709192768

In [70]:
# Más operaciones
print(x//2)        # Cociente
print(x%2)         # Resto
print(pow(x,3))    # Potencia
print(pow(x,1/3))  # Raíz

2
1
125
1.7099759466766968

## Jerarquia de las Operaciones

- La suma y la resta tienen la misma jerarquia

- La division y la multiplicacion tienen la misma jerarquia, pero mayor que la suma y la resta

- El cociente, el resto, tienen la misma jerarquía, pero mayor que la multiplicación y la divisió

In [73]:
print(x+y/2)   # a.<10  ó  b.>10    Respuesta= b

print(x*2//3)   # a. <=2  ó  b. >2  Respuesta= b

6.5708
3

In [ ]:
## Variables Booleanas

In [74]:
x = True
y = False

xneg= not x  # Negada de x 
yneg= not y  # Negada de y

print('Tipo de dato de x: {} \nTipo de dato de y: {}'.format(type(x), type(y)))

Tipo de dato de x: <class 'bool'>
Tipo de dato de y: <class 'bool'>

## Operaciones con variables booleanas

- "and"  Pide que se cumplan todas las condiciones para devolver TRUE

- "or"   Pide que se cumpla alguna de las condiciones para devolver TRUE

In [75]:
print(x and y)  # False
print(x and x)  # True
print(y and y)  # False

False
True
False

In [78]:
## Ejercicio
# Que regresan las siguientes expresiones ?
print(x and not y)      # True
print(not x or y)       # False
print(not x or not y)   # True

True
False
True

## Operadores Logicos

In [76]:
#Mayor que
x= 5>4       # También podemos usar ">="
print(x)
#Menor que
y= 5<4       # También podemos usar "<="
print(y)
#Igual que 
z= 5==4
print(z)
#Diferente de 
w= 5!=4
print(w)

True
False
False
True

In [77]:
##Conversion de datos

k= '30'
k2= int(k)
k3= float(k)
print(type(k))
print(type(k2))
print(type(k3))
print('-------------------')

m= 341.90
m2= str(m)
print(type(m))
print(type(m2))

#Usos de True y False en los operadores matematicos
print(False*5)
print(True*5)

<class 'str'>
<class 'int'>
<class 'float'>
-------------------
<class 'float'>
<class 'str'>
0
5