In [1]:
import os
import pandas as pd
import numpy as np

In [43]:
#cargamos la base de Salarios
dire=os.getcwd()
salarios=pd.read_csv(dire+'\\Salarios.txt',sep=',',
                     dtype= {'Anio': np.str_,'Codigo_Grupo': np.str_,
                                'Codigo_Representante':np.str_, 
                                'ID_EMPLEADO':np.str_})

#### Ejercicios

- Encontrar cual es el salario promedio por año y Grupo de los trabajos con Salario Total mayor a 100,000

- Encontrar los 10 trabajos con el salario Total promedio mas alto

- Encuentra los 10 departamentos con el salario total maximo más bajo y cuantos trabajadores tienen

In [33]:
# E1

#Es necesario primero realizar este procedimiento, de lo contrario se 
#puede llegar a complicar si lo agrupamos primero
g1=salarios[ salarios.Total_Salario>100000 ]

#Ahora ya lo agrupamos y obtenemos su media
g1=g1.groupby(['Anio','Grupo']).mean()


g1.head(10)

In [60]:
# E2
# Esta forma tarda mucho, mejor no usarla
#g2=salarios.groupby('Trabajo')
#g2=salarios.sort_values('Total_Salario',ascending=False).mean()
#g2.head(10)

salarios.groupby('Trabajo').mean()[['Total_Salario']
                                  ].sort_values('Total_Salario', ascending= False
                                               )[:10]

                              Total_Salario
Trabajo
Physician Administrator, DPH  418016.620000
Chief, Fire Department        330790.672000
Gen Mgr, Public Trnsp Dept    304913.162000
Mayor                         287303.592000
Controller                    275895.842000
Asst Chf Of Dept (Fire Dept)  273968.558667
Dept Head V                   273736.175161
Chief Of Police               264098.652857
Chief Investment Officer      262151.437500
Dep Chf Of Dept (Fire Dept)   261820.954545

In [81]:
# E3
g3=salarios.groupby('Departamento')
g3=g3[['Total_Salario']].max()
g3=g3.sort_values
g3.head(10)

                                Total_Salario
Departamento
AAM Asian Art Museum                206077.25
ADM Gen Svcs Agency-City Admin      409892.62
ADP Adult Probation                 234168.51
AIR Airport Commission              334779.09
ART Arts Commission                 175141.20
ASR Assessor / Recorder             193823.56
BOA Board Of Appeals - PAB          166476.47
BOS Board Of Supervisors            209373.31
CAT City Attorney                   251444.51
CFC Children & Families Commsn      175064.46

In [85]:
os.listdir(dire)

['.ipynb_checkpoints',
 '1.Variables y Operaciones.ipynb',
 '2.Estructuras de Datos y Diccionarios.ipynb',
 '3.Flujos de Control.ipynb',
 '4.Funciones y Libreria OS.ipynb',
 '5.Base de Datos.ipynb',
 '6.Dataframes.ipynb',
 '7.Ejercicios de Salarios.ipynb',
 'auto.csv',
 'auto1.csv',
 'MuestraDropNa.csv',
 'Salarios.txt',
 'Salarios.zip',
 'Untitled.ipynb']